<mat-form-field class="example-form-field" appearance="fill">
  <mat-label>Qual Pokémon você procura ?</mat-label>
  <input
    matInput
    type="text"
    (input)="pesquisarPokemons()"
    placeholder="pesquisar..."
    #filterInput
  />
</mat-form-field>

<div *ngIf="pokemonList" class="pokeCard">
  <div *ngFor="let pokemon of pokemonList">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>{{ pokemon.name }}</mat-card-title>
        <img mat-card-image [src]="imagemPokemon('https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png')" /><br />
      </mat-card-header>

      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="detalhaPokemon(this.pokemon.url)" >Detalhes</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
