<div class="pokeCard">
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Qual Pokémon você procura ?</mat-label>
    <input
      matInput
      type="text"
      (input)="pesquisarPokemons()"
      placeholder="pesquisar..."
      #filterInput
    />
  </mat-form-field>
  <div *ngIf="pokemonList" class="posição">
    <mat-card class="card" *ngFor="let pokemon of pokemonList">
      <img
        class="img"
        src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png"
      />
      <hr />
      <mat-card-header>
        <mat-card-subtitle>Nº</mat-card-subtitle>
        <mat-card-title>{{ pokemon.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h3>Tipo do Pokémon</h3>
      </mat-card-content>
      <hr />
      <mat-card-actions>
        <button
          mat-raised-button
          class="sendButton"
          (click)="detalhaPokemon(this.pokemon.url); modal.toggle()"
        >
          Detalhe
        </button>
        <app-modal #modal>
          <h1>{{ pokemon.name }}</h1>
          <app-pokemon-detalhe></app-pokemon-detalhe>
          <button
            mat-raised-button
            class="modalButton"
            (click)="modal.toggle()"
          >
            close
          </button>
        </app-modal>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
