.pokeCard {
width: 300px;
height:350px;
border:solid 1px red;
margin: 10px;
box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
border-color: rgba(223, 225, 229, 0);
display: flex;
}

.mat-card-image {
  width: 150px;
  
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHxMGJxMiJiorvBQWKrtwZzxvZ9tavHLr6wA&usqp=CAU");
  
  
  
}
