.pokeCard {
  width: 80%;
  margin-left: 100px;
  display: block;
  border-right: 30px solid rgb(255, 255, 255);
  border-left: 30px solid rgb(255, 255, 255);
  border-radius: 10px;
  background-image: url(https://static.tumblr.com/fzbupk7/XqXmbhup7/bg88.jpg);
}
.posição {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.card {
  width: 160px;
  margin-left: 15px;
  margin-top: 10px;
  border-radius: 20px;
  border-top: 6px solid #3aa4ff;
  border-bottom: 6px solid #3aa4ff;
  border-left: 2px solid rgb(119, 119, 119);
  border-right: 2px solid rgb(119, 119, 119);
  box-shadow: 0 2px 8px rgb(53, 112, 108);
}

.img {
  width: 192px;
  margin-left: -16px;
  border-top: 1px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-image: linear-gradient(
    #1688ec,
    #07ebe0,
    rgb(123, 177, 123),
    rgb(51, 170, 101),
    white
  );
}
.sendButton {
  color: white;
  background-color: #1688ec;
}

.modal {
  background: #757575;
  box-shadow: 0 2px 8px #07ebe0;
}

.modalButton {
  background: #3aa4ff;
  color: aliceblue;
}
